:root{
    --cols: '----'
}

.title{
    text-align: center;
    padding: 10px;
}

#content{
    display: flex;
    justify-content: center;
}

#board{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-columns: var(--cols);
    width: max-content;
    border-radius: 4px;
    padding-top: 5px;
}

#score-container{
    display: grid;
    padding-top: 10px;
    text-align: center;
}

#message-container{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.shuffle-btn{
    margin-left: 5px;
}

.gen-btn-container{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.letter{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
 
}

.letter:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.703);
}

.selected{
    background-color: #94d6d0b1;
}

.selected:hover{
    background-color: #94d6d0b1;
}

.found{
    background-color: rgb(243, 202, 243);
}

.found:hover{
    background-color: rgb(243, 202, 243);
}

.word-found{
    color: #1a535c;
    text-decoration:line-through;
}

#form-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

button {
    border-radius: 10px;
    border: 1.5px solid #1a535c;
    /* background-color: #4ecdc4; */
    background-color: #94d6d0b1;
}

button:hover{
    background-color: rgb(243, 202, 243);
    border-color: #e148d9;
}

#words-list-container{
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.buttons button {
   margin-left: 5px;
}
