:root{
    --cols: '----'
}

.title{
    text-align: center;
    padding: 10px;
}

#content{
    display: flex;
    justify-content: center;
}

#board{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-columns: var(--cols);
    width: max-content;
    border-radius: 4px;
}

.gen-btn-container{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.letter{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;

    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
 
}

.letter:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.703);
}

.clicked {
    background-color: grey;
}

.selected{
    background-color: yellow;
}

.found{
    background-color: plum;
}

.found:hover{
    background-color: plum;
}

.word-found{
    color: green;
    text-decoration:line-through;
}

#form-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}
